In [1]:
print("Hello")

Hello

# Python variables

In [4]:
'''
1. interger
2. float
3. string
'''

x=10
y=20
print("the value of x=",x)
print("type of x=", type(x))
print("the value of y=",y)
print("type of y=",type(y))

the value of x= 10
type of x= <class 'int'>
the value of y= 20
type of y= <class 'int'>

In [6]:
s='shehzad'
print('type of s=', type(s))

f=2.3
print("type of f=", type(f))

type of s= <class 'str'>
type of f= <class 'float'>

In [7]:
x=int(3)

In [13]:
z=int(3)
g=5

In [14]:
print(g)

5

In [11]:
print(y)

20

# Type casting/conversion

In [19]:
x=50
f_x=50.0
f2_x=float(x)

In [20]:
print("type of x",type(x))
print("type of f_x", type(f_x))
print("type of f2_x", type(f2_x))

type of x <class 'int'>
type of f_x <class 'float'>
type of f2_x <class 'float'>

In [23]:
f=34.4
integer_f=int(f)

In [25]:
print("type of f", type(f))
print(integer_f)
print("type of interger_f", type(integer_f))

type of f <class 'float'>
34
type of interger_f <class 'int'>

In [32]:
s='100'
s2='shehzad'
print(s)
print("type of s", type(s))

100
type of s <class 'str'>

In [27]:
integer_s=int(s)

In [28]:
print(integer_s)
print("type of integer_s", type(integer_s))

100
type of integer_s <class 'int'>

In [33]:
s=int(s)

In [35]:
print(s)
print("type of s", type (s))

100
type of s <class 'int'>

In [36]:
s2=int(s2)

ValueError: invalid literal for int() with base 10: 'shehzad'

In [42]:
print("Hello",end=' ')
print("Haroon",end=" ")
print('Ali')
"Hello Haroon Ali"

Hello Haroon Ali

'Hello Haroon Ali'

In [44]:
print("Hello", 'Haron', 'Ali',sep='_')

Hello_Haron_Ali

# user input

In [45]:
user_input=input("Enter a value")

Enter a valueshehzad

In [46]:
user_input

'shehzad'

In [47]:
x_int=input("enter value")
x_float=input("Enter a float value")
x_string=input("Enter a string value")

enter value23
Enter a float value5.7
Enter a string valuename

In [48]:
print("type of x_int", type(x_int))
print("type of x_float", type(x_float))
print("type of x_string", type(x_string))

type of x_int <class 'str'>
type of x_float <class 'str'>
type of x_string <class 'str'>

In [49]:
x_int=int(x_int)
x_float=float(x_float)

In [50]:
print("type of x_int", type(x_int))
print("type of x_float", type(x_float))

type of x_int <class 'int'>
type of x_float <class 'float'>

In [51]:
x_int1=int(input("enter value"))
x_float1=float(input("Enter a float value"))
x_string1=input("Enter a string value")

enter value45
Enter a float value6.7
Enter a string valuestring

In [52]:
print("type of x_int", type(x_int1))
print("type of x_float", type(x_float1))
print("type of x_string", type(x_string1))

type of x_int <class 'int'>
type of x_float <class 'float'>
type of x_string <class 'str'>

Task:

operators
1. Take user input and perform arithematic operations on it
(addition, subtraction, multiplication, division)